.row{
    width: 100% !important;
}

.contacts_container{
    width: 100%;
    height: 650px;
    background-image: url('../../public/img/heading-bg-02.jpg');
    padding-top: 50px;
   
}
.contacts{
    width: 90%;
    margin: 24px auto;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 100px;


}
label{
    opacity: 0.7;
}
.contact__btn{
    font-size: 14px;
    color: #22b3c1;
    background-color: white;
    border: 1px solid #22b3c1;
    padding: 14px 35px;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
   text-decoration: none;
}
.contact__btn:hover{
    background-color: aqua;
    color: white;
    transition: 0.1s all ease-in-out;
}
.contact-card{
        width: 30%;
       height: 200px;
       
       background-color: #fff;
       border-radius: 23px;
       box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
       text-align: center;  
       border-radius: 15px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       row-gap: 6px;
}
.icon{
    background-color: #f0f0f0;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    border-radius: 50px;
    color: #22b3c1;
    font-size: 20px;
    margin-bottom: 20px;
}
.phone-text{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.tel-number{
    text-decoration: none;
    font-size: 15px;
    color: #22b3c1;
}
.contact-cards{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.contact-text{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 25px;
    text-align: center;
}
.contact-text-title{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
   
}
.btn-text{
    text-align: center;
    margin-top: 100px;
}

/* responsive  */
@media screen and (max-width:600px) {
   
    .contact-cards{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        flex-direction: column;
        row-gap: 15px;
    }
    .contact-card{
        width: 100%;
       height: 200px;
       background-color: white;
       border-radius: 15px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       row-gap: 6px;
}
.contact-text{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 25px;
    text-align: center;
}
.contact-text-title{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
   
}
.phone-text{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
}
/* ===========Map========== */
.map-container{
    width: 100%;
    height: 1100px;
    background-color: #f9f9f9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 130px;
}

.map{
    width: 100%;
    height: 480px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.form-name{
    text-align: center;
    padding-top: 25px;
    font-family: sans-serif;
    
}
.registration-form{
    margin-top: 50px;
}
.color-text{
    color: #22b3c1;
    font-family: sans-serif;
    
}
.form-1,.form-2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.name-form Input{
      height: 46px;
      background-color: transparent;
      border-radius: 23px;
      border: 1px solid #e0e0e0;
      padding: 0px 180px;
      cursor: pointer;
      margin-bottom: 30px;
}
#select_id{
    height: 46px;
    background-color: transparent;
    border-radius: 23px;
    border: 1px solid #e0e0e0;
    padding: 0px 180px;
    cursor: pointer;
    margin-bottom: 30px;
}
label{
    display: block;
}
.form-2 Input{
    padding: 0px 220px;

}
.name{
    margin-left: 10px;
  
}
.select-one{
    width: 100%;
    height: 46px;
    background-color: transparent;
    border-radius: 23px;
    border: 1px solid #e0e0e0;
    padding: 0px 240px;
    cursor: pointer;
    margin-bottom: 30px;
}
.select-two{
    width: 87%;
    height: 46px;
    background-color: transparent;
    border-radius: 23px;
    border: 1px solid #e0e0e0;
    padding: 0px 240px;
    cursor: pointer;
    margin-bottom: 30px;
   margin-left: 98px;
}
.address{
    margin-left: 120px;
}
.submit-btn{
    font-size: 14px;
    color: #fff;
    background-color: #22b3c1;
    border: 1px solid #22b3c1;
    padding: 12px 30px;
    width: 87%;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    margin-left: 98px;
}

@media (max-width:600px) {
    .map-container{
        margin-top: 400px;
    }
    
}
.registr-form-name{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    padding-top: 50px;
}
.form-info{
color: #22b3c1;
font-style: normal;

}
.contact-card:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}