.carusel_container{
  position: relative;
  top: 70px;
  width: 100%;
  height: 615px;
}

.Carousel-content {
  position: relative;
  width: 100%;
  height: 615px;
}

.Carousel-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Carousel-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1;
}

.text-container {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
}

.home-content{
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  font-family: sans-serif;
}

.home-title {
  font-weight: 500;
  font-size: 45px;
  color: #fff;
  font-family: sans-serif;
}

.home-btn {
  font-size: 14px;
  color: #22b3c1;
  background-color: transparent;
  border: 1px solid #22b3c1;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  background-color: #22b3c1;
  color: #fff;
  margin-top: 20px; 
  margin-bottom: 100px;
  text-decoration: none;
}
.home-btn:hover{
  background-color: white;
}
/* ============== */
.home-info-card{
  width: 1100px;
  height: auto;
  padding: 20px 0;
  background-color: white;
  border-radius: 60px;
}
.home-icon-user-line{
  color: #22b3c1;
  font-size: 24px;
  width: 49px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 58px;
  border: 1px solid #22b3c1;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-card-block{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-text-item{
color: black;
font-size: 10px;
}
.home-item-text{
color: black;
font-size: 15px;
}
.home-left-icon-block{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.home-info-card-btn{
  font-size: 14px;
  color: #fff;
  background-color: #22b3c1;
  border: 1px solid #22b3c1;
  padding: 9px 23px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}


/* mobile responsive start */
@media screen and (max-width: 600px) {
  .home-info-card{
    width: 480px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 24px;
  }
  .home-left-icon-block{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 12px;
  }
  .home-card-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}


@media screen and (max-width:400px) {
  .home-info-card{
    width: 335px;
  }
  .home-info-card-btn{
    padding: 1px 40px;
    font-size: 10px;
  }
  .home-item-text{
    font-size: 8px;
  }
}

@media screen and (min-width: 600px) {
  .home-info-card{
    width: 480px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 24px;
  }
  .home-left-icon-block{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 12px;
  }
  .home-card-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}


@media screen and (min-width: 768px) {
  .home-info-card{
    width: 700px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    padding: 30px;
  }
  .home-left-icon-block{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 18px;
    column-gap: 70px;
  }
  .home-card-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .home-info-card{
    width: 700px;
    display: flex;
    justify-content: center;
    border-radius: 45px;
    padding: 24px;
  }
  .home-left-icon-block{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 18px;
    column-gap: 70px;
  }
  .home-card-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .home-info-card{
    width: 980px;
    display: flex;
    justify-content: center;
    border-radius: 56px;
    padding: 28px;
  }
  .home-left-icon-block{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    row-gap: 18px;
    column-gap: 70px;
  }
  .home-card-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .home-info-card{
    width: 1100px;
    display: flex;
    justify-content: center;
    border-radius: 56px;
    padding: 28px;
  }
  .home-left-icon-block{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    row-gap: 18px;
    column-gap: 70px;
  }
  .home-card-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 1400px) {
  .home-info-card{
    max-width: 1320px;
    display: flex;
    justify-content: center;
    border-radius: 70px;
    /* padding: 10px; */
  }
  .home-left-icon-block{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    row-gap: 18px;
    column-gap: 70px;
  }
  .home-card-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

